<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Business.Properties.Settings>
      <setting name="Business_wsS29_uciMethods" serializeAs="String">
        <value>http://132.147.10.171/wsFitSwitch/uciMethods.asmx</value>
      </setting>
    </Business.Properties.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>

    <!-- Base de datos -->
    <add key="procesosBdd" value="1" />

    <!-- Timeout -->
    <add key="timeoutTrx" value="150000" />
    <add key="timeoutWS" value="30000" />

    <!-- Conexión base principal -->
    <add key="OraHost" value="192.168.29.74" />
    <add key="OraPort" value="1521" />
    <add key="OraSid" value="fitbank.migracion" />
    <add key="OraUser" value="CANAL29" />
    <add key="OraPass" value="B6D13C361680688D" />
    <add key="OraTime" value="90" />

    <!-- Parametros FTP -->
    <add key="ftp" value="192.168.29.45;21;Administrador;Passw0rd;BCE" />
    <add key="ftpLotes" value="132.147.10.68;22;fitbank;fitbank;" />

    <!-- Rutas Archivos -->
    <add key="pathLocal" value="D:\App29\archivos\procesos\{0}\" />
    <add key="pathFtp" value="/archivos/canaldesarrollo/procesos/{0}/" />
    <add key="pathFtpLotes" value="/FitBank/uci/" />

    <!-- Lectura -->
    <add key="lecturaActiva" value="true" />
    <add key="lecturaTiempo" value="5000" />

    <!-- Tabulado Vista -->
    <add key="tabuladoVistaActiva" value="true" />
    <add key="tabuladoVistaTiempo" value="15000" />

    <!-- Tabulado Credito -->
    <add key="tabuladoCreditoActiva" value="true" />
    <add key="tabuladoCreditoTiempo" value="15000" />

    <!-- Tabulado Bloqueos -->
    <add key="tabuladoBloqueosActiva" value="true" />
    <add key="tabuladoBloqueosTiempo" value="15000" />

    <!-- Tabulado Genera SPI3 -->
    <add key="tabuladoSpi3Activa" value="true" />
    <add key="tabuladoSpi3Tiempo" value="15000" />

    <!-- Tabulado Lotes -->
    <add key="tabuladoLotesActiva" value="true" />
    <add key="tabuladoLotesTiempo" value="15000" />

    <!-- Ejecuta Normal -->
    <add key="ejecutaNormalActiva" value="true" />
    <add key="ejecutaNormalTiempo" value="10000" />
    <add key="ejecutaNormalProcesos" value="1" />

    <!-- Ejecuta Bloqueos -->
    <add key="ejecutaBloqueosActiva" value="true" />
    <add key="ejecutaBloqueosTiempo" value="10000" />
    <add key="ejecutaBloqueosProcesos" value="20" />

    <!-- Ejecuta Recuperacion -->
    <add key="ejecutaRecuperacionActiva" value="true" />
    <add key="ejecutaRecuperacionTiempo" value="10000" />
    <add key="ejecutaRecuperacionProcesos" value="1" />

    <!-- Efectivización Cheques -->
    <add key="efectivizaActiva" value="true" />
    <add key="efectivizaTiempo" value="10000" />
    <add key="efectivizaProcesos" value="1" />

    <!-- Activa Bloqueos -->
    <add key="activaBloqueosActiva" value="true" />
    <add key="activaBloqueosTiempo" value="10000" />
    <add key="activaBloqueosProcesos" value="30" />

    <!-- Verifica -->
    <add key="verificaActiva" value="true" />
    <add key="verificaTiempo" value="10000" />

    <!-- Finaliza Procesos -->
    <add key="finalizaActiva" value="true" />
    <add key="finalizaTiempo" value="10000" />

    <!-- Fitbank -->
    <add key="fitbankTimeOut" value="90000" />
    <add key="fitbankBalanceo" value="false" />
    <add key="fitbankUrlS29" value="http://{0}:8180/UCIWS/services/UCIWSBean?wsdl" />
    <add key="fitbankUrlNormal" value="http://{0}:8180/UCIWS/services/UCIWSBean?wsdl" />
    <add key="fitbankIpNodo1" value="132.147.10.68" />
    <add key="fitbankIpNodo2" value="132.147.10.68" />
    <add key="fitbankIpLotes" value="132.147.10.68" />
    <add key="fitbankIp" value="132.147.160.113" />
    <add key="fitbankArea" value="1" />
    <add key="fitbankCanal" value="PC" />
    <add key="fitbankIdioma" value="ES" />
    <add key="fitbankSucursal" value="1" />
    <add key="fitbankOficina" value="13" />
    <add key="fitbankRol" value="600" />
    <add key="fitbankTerminal" value="BATCH" />
    <add key="fitbankTemNmgNor" value="S29BT{0}{1}{2}" />
    <add key="fitbankTemNmgRev" value="S29RV{0}{1}{2}" />
    <add key="fitbankUsuario" value="2896" />

    <!-- Parametros Generales  -->
    <add key="cuentaBce" value="01700427" />

    <!-- Emails notificacion  -->
    <add key="emails" value="rmorales@29deoctubre.fin.ec" />
  </appSettings>

  <connectionStrings>
    <add name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST={0})(PORT={1})))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME={2})));User Id={3};Password={4}" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <appender name="StandardAppender" type="TSUIC.Logging.AsyncLogFileAppender">
      <appender-ref ref="StandardAppenderSync" />
    </appender>
    <appender name="General" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\App29\logs\BatchProcesos\General_" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %-5level %message%newline" />
      </layout>
    </appender>
    <appender name="Errors" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\App29\logs\BatchProcesos\Exceptions_" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %-5level %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="General" />
    </root>
    <logger name="Error">
      <level value="ALL" />
      <appender-ref ref="Errors" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.1.0" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>